#wrapper{
margin: 0 auto;
width: 960px;
background-color:steelblue;
padding-left: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding-bottom:40px;


}

.box{
width:400px;
height:800px;
background-color: silver;
margin-left: 20px;
display: inline-block;
padding-left:25px;

}
#qbox{
display:block    
}