<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <h1>About Me!</h1>
    <p>I am a Python web developer and love goint to hackathons in my spare time. <br>
    I love making things and meeting people! People might be surprised to learn that I own a horse and used to be a horse trainer! </p>
    <br><br><br>

<h4><a href="/">HOME</a>&nbsp;<a href="/projects">PROJECTS</a>&nbsp;<a href="/about">ABOUT ME</a>&nbsp;<a href="/testimonials">TESTIMONIALS</a>&nbsp;</h4>
</body>
</html>