<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
    <h1>My Projects</h1>   
        <ul>
            <li>Hackintosh</li>
            <li>Go Kart</li>
            <li>Mario Bros.</li>
            <li>Certify Me</li>
            <li>Deer Hunter</li>
            <li>Fake Madden</li>
            <li>Papa Johns Replicated app</li>
        </ul>
        <br><br><br>
<h4><a href="/">HOME</a>&nbsp;<a href="/projects">PROJECTS</a>&nbsp;<a href="/about">ABOUT ME</a>&nbsp;<a href="/testimonials">TESTIMONIALS</a>&nbsp;</h4>

</body>

</html>