<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=!, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Testimonials</h1>
<p>"The best money I ever spent was spending $100 on Harold's Chicken and taking it to the cinema and eating it while I watch N.W.A. It was hard sneaking it in tho!"</p> <br><br><br><br><br><br><br><br>
<p>"Oh, Yea I don't really have anymore testimonials right now"</p>
<br><br><br>

<h4><a href="/">HOME</a>&nbsp;<a href="/projects">PROJECTS</a>&nbsp;<a href="/about">ABOUT ME</a>&nbsp;<a href="/testimonials">TESTIMONIALS</a>&nbsp;</h4>
</body>
</html>