<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
    <body>
        <fieldset style='width: 300px'>
            <legend>Dojo Survey</legend>
                <form action="/process" method="post">
                    <label>Name:</label>&nbsp
                    <input type="text" name="name"><br><br>
                    <label>Dojo Location:</label>
                        <select name="location" ><br>
                            <option value="Los Angeles">Los Angeles</option>
                            <option value="Chicago">Chicago</option>
                            <option value="Tulsa">Tulsa</option>
                            <option value="Mountain View">Mountain View</option>
                        </select><br><br>
                    <label>Favorite Language:</label>
                        <select name="language"><br>
                            <option value="Python">Python</option>
                            <option value="Ruby">Ruby</option>
                            <option value="Javascript">Javascript</option>
                            <option value="C#">C#</option>
                        </select><br><br>
                    <label>Comment (optional):</label><br>
                    <textarea name="comment" cols="50" rows="10"></textarea><br>
                    <button>Submit</button>
                </form>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p> {{ message }} </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </fieldset>
    </body>
</html>