<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
    <link rel="stylesheet" href="{ static 'word_app/style.css'}">
</head>
<body>
    <h1>Random Word Generator</h1>
    <p>{{word}}</p>
    <p>Attempts:{{ request.session.counter }}</p>

    <form action="/generator" method='post'>
    {%csrf_token%}
    <input type="hidden" name="random"> 
    <input type="submit" value="Generate">   
    </form>

    <form action="/clear" method='post'>
    {%csrf_token%}
    <input type="hidden" name="clear"> 
    <input type="submit" value="RESET">   
    </form>


</body>
</html>