<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testimonials</title>
</head>
<body>
    <h1>Testimonials</h1>

    <br>
    &nbsp<p>The best money I ever spent was <br>on some Air Jordands br
     and Gucci flip-flops.

    <br>
    <br>
    <br>


    &nbsp<p>I seen a human being fly before. <br> he first time it was when I went to a Bulls <br> game in 1994. Michael Jordan took the ball and dunked it>
    </p>
    <br>
    <br>
    <br>
    <br>

    <br>
    <a href="/"><h1></h1>Home</h1></a>
</body>
</html>