<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wall Login</title>
</head>
<body>
       <h1>Login</h1>
            <form action="login_process" method="post">{% csrf_token %}
                <label>Email </label><br>
                <input type="email" name="html_email" placeholder="Email"><br>
                <label>Password</label><br>
                <input type="text" name="html_password" placeholder="Password"><br><br>
                <input type="submit" vaule="Submit">
            </form><br><br>
<a href="register">Not a Member?</a>

</body>
</html>